QPushButton#loginButton {
    background-color: #6C3FD6;
    border: 1px solid #FFF;
    border-radius: 20px;

}

QPushButton#createAccount{
background-color: transparent;
border: 1px solid #FFF;
border-radius: 20px;
}

QPushButton#recoveryButton{
background-color: transparent;
border: 1px solid #FFF;
border-radius: 20px;
}